.ropeproject
*.pyc
*config.py
*.swp
*log
.DS_Store
*.conf
*.json
*settings.py
_templates/*

themes/node_modules/*
themes/bower_components/*
themes/views/*/*.entry.css
themes/views/*/*.entry.js
themes/assets/*/*.entry.css
themes/assets/*/*.entry.js
.cache
sougou.py
