<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="description" content="分享有价值的微信公众号" />

        <title>微阅读</title>

        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <link rel="stylesheet" href="${static_url("libraries/bootstrap/css/bootstrap.min.css")}" charset="utf8"/>
        <link rel="stylesheet" href="${static_url("libraries/prism/prism.css")}" charset="utf8" />
        <link rel="stylesheet" href="${static_url("libraries/bootstrap-social/css/bootstrap-social.css")}"charset="utf8" />
        <link rel="stylesheet" href="${static_url("libraries/bootstrap-social/css/font-awesome.css")}" charset="utf8" />
        <link rel="stylesheet" href="${static_url("common/main.entry.css")}" />


    </head>

    <body class="home-template">

        <nav class="navbar navbar-default">

            <div class="container limit-width">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </button>

                    <a class="navbar-brand" href="${site.URL}">${site.TITLE}</a>

                </div>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        % if nick_name:
                            <li><a href="${site.URL}/?nick_name=${nick_name}" class="hvr-fade">${nick_name}</a></li>
                        % else:
                            <li><a href="${site.URL}/tag/16/" class="hvr-fade">技术 · 编程</a></li>
                            <li><a href="${site.URL}/tag/17/" class="hvr-fade">创意 · 科技</a></li>
                            <li><a href="${site.URL}/tag/18/" class="hvr-fade">金融 · 理财</a></li>
                            <li><a href="${site.URL}/tag/19/" class="hvr-fade">生活 · 心理</a></li>
                            <li><a href="${site.URL}/tag/20/" class="hvr-fade">电影 · 音乐</a></li>
                            <li><a href="${site.URL}/tag/21/" class="hvr-fade">段子 · 节操</a></li>
                        % endif
                    </ul>
                </div>


            </div>
        </nav>

        <%block name="tpl_body"> </%block>
        <%block name="tpl_footer"> </%block>

        <%include file="../partial/footer.html"/>

        <script type="text/javascript">
if (typeof jQuery == 'undefined') {
    document.write('<script type="text/javascript" src="${static_url("libraries/jquery/jquery-1.11.3.min.js")}"></'+'script>');
}
    </script>
    <script src="${static_url("libraries/bootstrap/js/bootstrap.min.js")}"></script>
    <script src="${static_url("libraries/imagesloaded/imagesloaded.pkgd.min.js")}"></script>
    <script src="${static_url("libraries/masonry/masonry.pkgd.min.js")}"></script>
    <script src="${static_url("libraries/prism/prism.js")}"></script>
    <script src="${static_url("common/main.entry.js")}"></script>
    </body>

</html>

