# -*- coding:utf-8 -*-


class CONFIG:
    DEBUG = True

    class MONGO:
        HOST = "127.0.0.1"
        DATABASE = "test"
        PORT = 27017
        USERNAME = ""
        PASSWORD = ""

    class REDIS:
        HOST = "127.0.0.1"
        PORT = "6379"
        PASSWORD = ""

    class SITE:
        URL = "http://127.0.0.1:8888"
        TITLE = "微阅读"
        POSTS_PER_PAGE = 18

    class CRAWLER:
        LIMIT = 50
        USE_PROXY = True
        PROXIES = {'http': 'socks5://127.0.0.1:9050',
                   'https': 'socks5://127.0.0.1:9050'}
        PROXIES_PASSWORD = ''
