# -*- coding:utf-8 -*-


class CONFIG:
    DEBUG = True

    class MONGO:
        # http://ibruce.info/2015/03/03/mongodb3-auth/
        HOST = "127.0.0.1"
        DATABASE = "test"
        PORT = 27017
        USERNAME = ""
        PASSWORD = ""

    class REDIS:
        HOST = "127.0.0.1"
        PORT = "6379"
        PASSWORD = ""

    class SITE:
        URL = "http://127.0.0.1:8888"
        TITLE = "微阅读"
        POSTS_PER_PAGE = 18

    class SITE:
        URL = "http://127.0.0.1:8888"
        TITLE = "微阅读"
        POSTS_PER_PAGE = 18

    class CRAWLER:
        LIMIT = 100
        USE_PROXY = 0
        PROXIES = {'http': 'socks5://127.0.0.1:9050',
                   'https': 'socks5://127.0.0.1:9050'}
        PROXIES_PASSWORD = ''
        SLEEP = 10
        RETRY = 3
